.block-howwework {
    margin-top: 200px;

}

.block-howwework__container-grid {
    padding: 3% 0 6% 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    gap: 10%;

    @media (max-width: $tablet) {
        display: block
    }

}

.block-howwework__h2 {
    margin: 0;
    padding: 0 0 4% 0;
    box-sizing: border-box;
    font-weight: 600;
    color: #292f36;
    line-height: 1.23;
    text-align: left;

    @media (min-width: $mobile) {
        font-size: 3.1rem;

    }

    @media (min-width:$smallMobile) and (max-width: $mobile) {

        font-size: 2.1rem;
    }

    @media (max-width:$smallMobile) {
        font-size: 1.7rem;

    }

}

.block-howwework__p {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    color: #292f36;
    text-align: left;
    display: inline;

    @media (max-width:$mobile) {
        font-size: 1.25rem;
        line-height: 1.4;
    }

    @media (min-width: $mobile) and (max-width:$desktop) {
        font-size: 1.37rem;
        line-height: 1.5;
    }

    @media (min-width:$desktop) {
        font-size: 1.5rem;
        line-height: 1.5;
    }

}

.block-howwework__link {
    display: inline-block;
    color: $defaultColor;
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: 400;

    line-height: 1.4;

    @media (max-width:$mobile) {
        font-size: 1.25rem;
    }

    @media (max-width:$desktop) {
        font-size: 1.37rem;
    }

    @media (min-width:$desktop) {
        font-size: 1.5rem;
    }

}

.block-howwework__text {
    display: inline-block;
    color: #292f36;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 1.55;
}

.block-howwework__img {
    display: block;
    max-width: 100%;


}

.block-howwework__link_smallsize {
    font-size: 1.07rem;
}



.block-howwework__element_animation1 {

    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 0.4s;
}



.block-howwework__element_animation2 {

    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 0.6s;
}

.block-howwework__element_animation3 {

    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 0.8s;

}

.block-howwework__element_animation4 {

    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 1s;

}

.block-howwework__element_animation5 {


    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 1.2s;

}

.block-howwework__element_animation6 {

    animation: reveal 1s cubic-bezier(.19, 1, .22, 1) 1.4s;

}


@keyframes reveal {
    0% {
        opacity: 0;

        transform: translate(0, 100%);
    }

    100% {
        opacity: 1;

        transform: translate(0, 0);
    }
}