/* html {
    overflow-x: hidden;
} */
.container {
    min-width: 100%;
}


.block-whowe {
    @media (min-width:$desktop) {

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        margin-bottom: 10%;


    }

    display: grid;

    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

.block-whowe__slogan {
    @media (min-width:$desktop) {

        grid-row: 1/3;
        grid-column: 1/2;
    }
}

.block-whowe__text {
    @media (min-width:$desktop) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}



.block-whowe_p {
    color: #292f36;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding-top: 1em;
    margin: 0;

    @media (min-width:$desktop) {
        font-size: 2.5rem;
    }

    @media (min-width: $tablet) {
        font-size: 1.8rem;
    }

    @media (min-width: $mobile) {
        font-size: 1.5rem;

    }

    @media (min-width: $smallMobile) {

        font-size: 1.25rem;
    }

    @media (max-width: $smallMobile) {

        font-size: 1.06rem;
    }

}

.block-whowe_h1 {
    color: #292f36;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding-top: 0.67em;
    margin: 0;


    @media (min-width:$desktop) {
        font-size: 4.37rem;
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        font-size: 2.5rem;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        font-size: 1.8rem;

    }

    @media (min-width: $smallMobile) and (max-width: $mobile) {

        font-size: 2.1rem;
    }

    @media (max-width: $smallMobile) {

        font-size: 1.5rem;
    }

}




.block-whowe__slogan_slider {
    height: 205px;
    overflow: hidden;
}



.block-whowe__slogan_slider>div {
    box-sizing: border-box;
    height: 205px;
    text-align: start;
}

.block-whowe__slogan_background {
    animation: back 12s infinite;

    @media (min-width: $desktop) {
        background: linear-gradient(to bottom, $lightColor 50%, $accentColor 50% 60%, $lightColor 60% 100%) no-repeat;

        @keyframes back {
            0% {
                background-size: 550px auto;
            }

            5% {
                background-size: 550px auto;
            }

            33% {
                background-size: 550px auto;
            }

            38% {
                background-size: 550px auto;
            }

            66% {
                background-size: 550px auto;
            }

            68% {

                background-size: 350px auto;

            }

            100% {
                background-size: 350px auto;
            }
        }

    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        background: linear-gradient(to bottom, $lightColor 28%, $accentColor 28% 38%, $lightColor 40% 100%) no-repeat;

        @keyframes back {
            0% {
                background-size: 350px auto;
            }

            5% {
                background-size: 350px auto;
            }

            33% {
                background-size: 350px auto;
            }

            38% {
                background-size: 350px auto;
            }

            66% {
                background-size: 350px auto;
            }

            68% {

                background-size: 250px auto;

            }

            100% {
                background-size: 250px auto;
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {

        background: linear-gradient(to bottom, $lightColor 18%, $accentColor 18% 28%, $lightColor 28% 100%) no-repeat;

        @keyframes back {
            0% {
                background-size: 250px auto;
            }

            5% {
                background-size: 250px auto;
            }

            33% {
                background-size: 250px auto;
            }

            38% {
                background-size: 250px auto;
            }

            66% {
                background-size: 250px auto;
            }

            68% {

                background-size: 180px auto;

            }

            100% {
                background-size: 180px auto;
            }
        }


    }

    @media (min-width: $smallMobile) and (max-width: $mobile) {
        background: linear-gradient(to bottom, $lightColor 22%, $accentColor 22% 32%, $lightColor 32% 100%) no-repeat;

        @keyframes back {
            0% {
                background-size: 350px auto;
            }

            5% {
                background-size: 350px auto;
            }

            33% {
                background-size: 350px auto;
            }

            38% {
                background-size: 350px auto;
            }

            66% {
                background-size: 350px auto;
            }

            68% {

                background-size: 200px auto;

            }

            100% {
                background-size: 200px auto;
            }
        }
    }

    @media (max-width: $smallMobile) {




        background: linear-gradient(to bottom, $lightColor 15%, $accentColor 15% 20%, $lightColor 20% 100%) no-repeat;

        @keyframes back {
            0% {
                background-size: 300px auto;
            }

            5% {
                background-size: 300px auto;
            }

            33% {
                background-size: 300px auto;
            }

            38% {
                background-size: 300px auto;
            }

            66% {
                background-size: 300px auto;
            }

            68% {

                background-size: 150px auto;

            }

            100% {
                background-size: 150px auto;
            }
        }


    }


}



.block-whowe__slogan1 {

    animation: slide 12s linear infinite;

    @keyframes slide {
        0% {
            margin-top: -820px;

        }

        5% {
            margin-top: -410px;
        }

        33% {
            margin-top: -410px;
        }

        38% {
            margin-top: -205px;
        }

        66% {
            margin-top: -205px;
        }

        72% {
            margin-top: 0;

        }

        100% {
            margin-top: 0;
        }
    }
}

.block-whowe__image {

    width: 30vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    @media (min-width:$mobile) and (max-width:$desktop) {
        width: 40vw;
        height: 440px;
        position: relative;
        margin-top: 5%;
        margin-bottom: 5%;


    }

    @media (min-width:$smallMobile) and (max-width:$mobile) {
        width: 50vw;
        height: 330px;
        position: relative;
        margin-top: 5%;
        margin-bottom: 20%;

    }

    @media (max-width:$smallMobile) {
        width: 50vw;
        height: 200px;
        position: relative;
        margin-top: 5%;
        margin-bottom: 20%;

    }

}



.block-whowe__img-dots {
    max-width: 40%;
    position: absolute;
    top: 0;
    right: 15%;

}



.block-whowe__img1 {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 10%;
    right: 40%;

    @media (max-width:$desktop) {
        max-width: 100%;


        height: 440px;
        position: relative;

        top: 5%;
        right: 10%;

    }

    @media (max-width:$mobile) {
        max-width: 100%;
        height: 330px;
        position: relative;

        top: 5%;
        right: 10%;

    }

    @media (max-width:$mobile) {
        max-width: 100%;


        height: 200px;
        position: relative;

        top: 5%;
        right: 10%;

    }
}



.block-whowe__h4 {
    color: $darkColor;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0;

    @media (max-width:$desktop) {
        font-size: 1.25rem;
    }
}

.block-whowe__p-text {
    display: inline-block;

    color: $darkColor;
    line-height: 1.55;
    font-weight: 400;
    height: 60px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    padding: 1% 0;






    @media (min-width: $desktop) {
        font-size: 1.06rem;

    }

    @media (min-width: $smallMobile) and (max-width: $desktop) {
        font-size: 1rem;

    }

    @media (max-width: $smallMobile) {
        font-size: 0.87rem;

    }
}

.block-whowe__inner {
    display: flex;
    gap: 3%;
    flex-wrap: wrap;


}


/*анимация блока с картинками можно будет удалить*/


.block-whowe__image_background {
    animation: ground 25s linear infinite;



    @keyframes ground {
        0% {
            background-color: $accentColor;
            opacity: 0;

        }


        1% {
            background-color: $accentColor;
            opacity: 0;

        }

        3% {
            background-color: $accentColor;
            opacity: 1;

        }

        30% {
            background-color: $accentColor;
            opacity: 1;
        }

        32% {
            background-color: $accentColor;
            opacity: 0;


        }

        34% {
            background-color: $baseColor;
            opacity: 0;
        }

        36% {
            background-color: $baseColor;
            opacity: 1;
        }

        64% {
            background-color: $baseColor;
            opacity: 1;
        }

        66% {
            background-color: $baseColor;
            opacity: 0;

        }

        68% {
            background-color: $defaultColor;
            opacity: 0;
        }

        70% {
            background-color: $defaultColor;
            opacity: 1;
        }

        97% {
            background-color: $defaultColor;
            opacity: 1;
        }

        99% {
            background-color: $defaultColor;
            opacity: 0;

        }

        100% {
            background-color: $accentColor;
            opacity: 0;

        }
    }
}

.block-whowe_wrapper {
    position: relative;
    margin-bottom: 7rem;


}