.block-diff {
    color: $darkColor;
    background-color: $backgroundColor;
    height: 82vw;

    @media (max-width:$desktop) {
        height: 120vw;
    }

    @media (max-width: $tablet) {
        height: 150vw;
    }

    @media (max-width: $mobile) {
        height: 190vw;
    }

    @media (max-width: $smallMobile) {
        height: 195vw;
    }
}

.block-difference {
    padding-top: 6%;
}

.block-difference__h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 4%;

    @media (max-width: $tablet) {
        font-size: 2rem;
    }

    @media (max-width: $mobile) {
        font-size: 1.5rem;
    }

    @media (max-width: $smallMobile) {
        font-size: 1rem;
    }
}

.block-difference__items {
    display: grid;
    grid-template-columns: 30% 17% 17% 17%;
    grid-gap: 5%;
    background-color: $baseColor;
}

.block-difference__item1,
.block-difference__item2,
.block-difference__item3 {
    font-size: 1.2em;
    font-weight: 600;
    background-color: $baseColor;
    color: $lightColor;
    padding-top: 10%;
    padding-bottom: 10%;

    @media (max-width:$desktop) {
        font-size: 1.1em;
    }

    @media (max-width: $tablet) {
        font-size: 0.8em;
    }

    @media (max-width: $mobile) {
        font-size: 0.55em;
    }

    @media (max-width: $smallMobile) {
        font-size: 0.3em;
    }


}

.block-difference__item1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.block-difference__item2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.block-difference__item3 {
    grid-column: 4/5;
    grid-row: 1/2;
}


.block-difference__table {
    display: grid;
    grid-template-columns: 30% 17% 17% 17%;
    grid-template-rows: repeat(10 1fr);
    grid-gap: 5%;
    padding-top: 3%;
    font-size: 0.91em;

    @media (max-width: $tablet) {
        font-size: 0.8em;
    }

    @media (max-width: $mobile) {
        font-size: 0.55em;
    }

    @media (max-width: $smallMobile) {
        font-size: 0.3em;
    }


}

.block-difference__element1,
.block-difference__element2,
.block-difference__element3,
.block-difference__element4,
.block-difference__element5,
.block-difference__element6,
.block-difference__element7,
.block-difference__element8,
.block-difference__element9,
.block-difference__element10,
.block-difference__element11,
.block-difference__element12,
.block-difference__element13,
.block-difference__element14,
.block-difference__element15,
.block-difference__element16,
.block-difference__element17,
.block-difference__element18,
.block-difference__element19,
.block-difference__element20,
.block-difference__element21,
.block-difference__element22,
.block-difference__element23,
.block-difference__element24,
.block-difference__element25,
.block-difference__element26,
.block-difference__element27,
.block-difference__element28,
.block-difference__element29,
.block-difference__element30 {
    width: 2.5rem;
    height: 2.5rem;

    @media (max-width: $tablet) {
        width: 2rem;
        height: 2rem;
    }

    @media (max-width: $mobile) {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media (max-width: $smallMobile) {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.block-difference__text1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.block-difference__element1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.block-difference__element2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.block-difference__element3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.block-difference__text2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.block-difference__element4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.block-difference__element5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.block-difference__element6 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.block-difference__text3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.block-difference__element7 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.block-difference__element8 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.block-difference__element9 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.block-difference__text4 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.block-difference__element10 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.block-difference__element11 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.block-difference__element12 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.block-difference__text5 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.block-difference__element13 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.block-difference__element14 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.block-difference__element15 {
    grid-column: 4/5;
    grid-row: 5/6;
}

.block-difference__text6 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.block-difference__element16 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.block-difference__element17 {
    grid-column: 3/4;
    grid-row: 6/7;
}

.block-difference__element18 {
    grid-column: 4/5;
    grid-row: 6/7;
}

.block-difference__text7 {
    grid-column: 1/2;
    grid-row: 7/8;
}

.block-difference__element19 {
    grid-column: 2/3;
    grid-row: 7/8;
}

.block-difference__element20 {
    grid-column: 3/4;
    grid-row: 7/8;
}

.block-difference__element21 {
    grid-column: 4/5;
    grid-row: 7/8;
}

.block-difference__text8 {
    grid-column: 1/2;
    grid-row: 8/9;
}

.block-difference__element22 {
    grid-column: 2/3;
    grid-row: 8/9;
}

.block-difference__element23 {
    grid-column: 3/4;
    grid-row: 8/9;
}

.block-difference__element24 {
    grid-column: 4/5;
    grid-row: 8/9;
}

.block-difference__text9 {
    grid-column: 1/2;
    grid-row: 9/10;
}

.block-difference__element25 {
    grid-column: 2/3;
    grid-row: 9/10;
}

.block-difference__element26 {
    grid-column: 3/4;
    grid-row: 9/10;
}

.block-difference__element27 {
    grid-column: 4/5;
    grid-row: 9/10;
}

.block-difference__text10 {
    grid-column: 1/2;
    grid-row: 10/11;
}

.block-difference__element28 {
    grid-column: 2/3;
    grid-row: 10/11;
}

.block-difference__element29 {
    grid-column: 3/4;
    grid-row: 10/11;
}

.block-difference__element30 {
    grid-column: 4/5;
    grid-row: 10/11;
}