/* Breakpoints */
$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$defaultColor: #4dcdc4;
$defaultColor_hover: #2baba0;
$baseColor: #f693bc;
$accentColor: #fee474;
$accentColor_hover:#f5d536;
$neutralColor: #fff7ef;
$backgroundColor: #f2f2f5;
$darkColor: #292f36;
$lightColor: #ffffff;

$defaultFont:'Montserrat',
sans-serif;