.findform {
    flex: 1 0 auto;
    background-color: rgb(77, 205, 196);
    overflow: auto;
}

.mainForm {
    margin: 3% 20%;
    padding: 3rem;

    @media screen and (max-width:$tablet) {
        padding: 2rem;
        margin: 3% 15%;


        @media screen and (max-width:$mobile) {
            padding: 1rem;
            margin: 3% 12%;
        }

        @media screen and (max-width:$smallMobile) {
            padding: 0.5rem;
            margin: 3% 10%;
        }
    }

    background-color: white;
}

#myschedule {
    display: none;
}

.signinforms {
    padding: 3rem;

    @media screen and (max-width:$tablet) {
        padding: 2rem;

        @media screen and (max-width:$mobile) {
            padding: 1.5rem;
        }

        @media screen and (max-width:$smallMobile) {
            padding: 1rem;
        }
    }
}

input,
.labelDate,
label {
    font-size: 1.1rem;

    @media screen and (max-width:$tablet) {
        font-size: 1rem;
    }

    @media screen and (max-width:$mobile) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:$smallMobile) {
        font-size: 0.7rem;
    }
}

.h1Text {
    animation-name: forms;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible
}

.h1Text {
    font-size: 2.5rem;

    @media screen and (max-width:$tablet) {
        font-size: 2.2rem;
    }

    @media screen and (max-width:$mobile) {
        font-size: 1.8rem;
    }

    @media screen and (max-width:$smallMobile) {
        font-size: 1.3rem;
    }
}

.pText {
    margin-top: 2rem;
    font-size: 1.1rem;

    @media screen and (max-width:$tablet) {
        font-size: 1rem;
    }

    @media screen and (max-width:$mobile) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:$smallMobile) {
        font-size: 0.8rem;
    }
}

.pText {
    animation-name: forms;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible
}

@keyframes forms {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

input {
    animation-name: forms;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible
}

input,
fieldset {
    border: 0;
    outline: 0;
}

.borderErr {
    border: 1px solid red;

}

input:valid {
    border: none;
    border-bottom: 1px solid black;
}

.inputClass {
    border-bottom: 1px solid black;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 0.8rem;
    margin: 5px 0 22px 0;
    display: inline-block;
}

.schedule {
    margin-bottom: 1.2rem;
}

.inputsForm {
    margin-bottom: 2rem;
    border: none;
}

.registerbtn {
    background-color: rgb(77, 205, 196);
    color: white;
    font-weight: bold;
    padding: 1rem 1.2rem;
    // margin: 0.5rem 0;
    margin: 3rem 0rem -3rem 0rem;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    background-color: #F693BC;
    opacity: 1;
}

.linksreg {
    color: rgb(77, 205, 196);
    text-decoration: none;
}

.radioVars {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}


.schedule,
.othersVar {
    font-size: 0.7rem;
    color: rgb(158, 151, 151);
}

#other {
    visibility: hidden
}

.tab {
    overflow: hidden;
    background-color: #ebebeb;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ff6c70
}

.tab button.active {
    background-color: white;
    color: #ff6c70;
}

.dataError {
    color: #ff0008;
    margin-top: -1rem;
    font-size: 0.8rem;

}

.cityForm {
    display: none;
}

.btnBack {
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
    border: none;
    padding: 0.5rem 1rem;

    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.findNanny-footer {
    padding: 4rem;
}

.formOff {
    display: none;
}



.applicationSentOff {
    display: none;
}

.applicationSent {
    background-color: rgb(77, 205, 196);
    padding: 3rem;
    margin-top: 2rem;
}

.applicationSentText {
    color: white;
    text-align: center;
}

.applicationSentHref {
    color: white;
}

.errorSentOff {
    display: none;
}

.errorSent {
    background-color: rgb(77, 205, 196);
    padding: 3rem;
}

.errorSentText {
    color: white;
    text-align: center;
}

.errorSentHref {
    color: white;
}


.floating-label-group {
    position: relative;
    margin-top: 1.5rem;

    .floating-label {
        font-size: 1rem;

        @media screen and (max-width:$tablet) {
            font-size: 1rem;
        }

        @media screen and (max-width:$mobile) {
            font-size: 0.9rem;
        }

        @media screen and (max-width:$smallMobile) {
            font-size: 0.7rem;
        }

        color: gray;
        position: absolute;
        pointer-events: none;
        top: 0.8rem;
        left: 0.8rem;
        transition: all 0.1s ease;
    }

    input:focus~.floating-label,
    input:not(:focus):valid~.floating-label {
        top: -0.5rem;
        bottom: 0px;
        left: 0px;
        font-size: 0.8rem;
        opacity: 1;
        color: gray;
    }
}