.partners__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.partTxt {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.23;
    text-align: center;
}

.pmain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 120px;
}

.pmain__firstLine {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pmain__secondLine {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a img {
    width: 260px;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    width: 300px;
    padding: 20px;
}

@media screen and (min-width: 901px) and (max-width:1024px) {
    a img {
        max-width: 200px;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        width: 220px;
        padding: 20px;
    }
}

@media screen and (min-width: 701px) and (max-width:900px) {
    a img {
        max-width: 150px;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        width: 170px;
        padding: 20px;
    }
}


@media screen and (max-width: 700px) {
    .partTxt {
        font-size: 40px;
    }

    .pmain__firstLine {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }


    .pmain__secondLine {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .pmain {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a img {
        max-width: 100%;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        width: 160px;
        padding: 10px;
    }
}

@media screen and (max-width: 320px) {
    .partTxt {
        font-size: 40px;
    }

    .pmain__firstLine {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }


    .pmain__secondLine {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .pmain {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a img {
        max-width: 100%;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        width: 120px;
        padding: 10px;
    }
}