@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Breakpoints */
/* Colors */
.faq__hidden {
  display: none;
}

.faq {
  background-color: #fff7ef;
}

.faq__inner {
  color: #292f36;
}

.faq__list {
  border-bottom: 1px solid #292f36;
}

.faq__header {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.23;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 70px;
}

@media screen and (max-width: 640px) {
  .faq__header {
    font-size: 35px;
  }
}

.faq__item {
  border-top: 1px solid #292f36;
}

.faq__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin: 0;
  padding: 5px 0 5px 0;
}

.faq__question:hover .faq__close {
  background-color: #292f36;
}

.faq__question:hover .faq__cross {
  stroke: #4dcdc4;
}

.faq__caption {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
  width: 85%;
  margin: 0;
  padding: 27px 0 27px;
}

@media screen and (max-width: 1200px) {
  .faq__caption {
    font-size: 22px;
  }
}

@media screen and (max-width: 640px) {
  .faq__caption {
    font-size: 20px;
    padding: 15px 0 14px;
    font-size: 18px;
    width: 80%;
  }
}

.faq__answer {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.55;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 300ms ease;
  transition: max-height 300ms ease;
}

@media screen and (max-width: 640px) {
  .faq__answer {
    font-size: 15px;
  }
}

.faq__text {
  margin-bottom: 30px;
  margin-top: 0;
}

.faq__links {
  color: #4dcdc4;
}

.faq__links:hover {
  cursor: pointer;
}

.faq__close {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #4dcdc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.faq__cross {
  stroke: #292f36;
  width: 24px;
  height: 24px;
  -webkit-transition: stroke 300ms ease, -webkit-transform 300ms ease;
  transition: stroke 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, stroke 300ms ease;
  transition: transform 300ms ease, stroke 300ms ease, -webkit-transform 300ms ease;
}

.faq__item > input {
  display: none;
}

.faq__check:checked ~ .faq__answer {
  max-height: 620px;
}

@media screen and (max-width: 1200px) {
  .faq__check:checked ~ .faq__answer {
    max-height: 800px;
  }
}

@media screen and (max-width: 640px) {
  .faq__check:checked ~ .faq__answer {
    max-height: 1350px;
  }
}

@media screen and (max-width: 480px) {
  .faq__check:checked ~ .faq__answer {
    max-height: 1900px;
  }
}

.faq__check:checked ~ .faq__question .faq__cross {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.faq__checkReset {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.faq__check:checked ~ .faq__question .faq__checkReset {
  display: block;
}

.faq__form {
  padding: 60px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.faq__any {
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .faq__any {
    font-size: 20px;
  }
}

.faq__button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 60px;
  border: none;
  background-color: #4dcdc4;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.faq__button:hover {
  background-color: #2baba0;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .faq__button {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 480px) {
  .faq__button {
    font-size: 14px;
  }
}

.container {
  width: 100%;
}

.container__row {
  width: 90%;
  margin: auto;
  max-width: 1160px;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=main.css.map */