@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

/* Breakpoints */
/* Colors */
.trainingSection__inner {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #4dcdc4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.trainingSection__textBlock {
  max-width: 100%;
  padding-bottom: 30px;
}

.trainingSection__title {
  margin-bottom: 30px;
}

.trainingSection__text {
  font-size: 24px;
  line-height: 1.5;
}

@media screen and (max-width: 1199px) {
  .trainingSection__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 639px) {
  .trainingSection__text {
    font-size: 20px;
    line-height: 1.4;
  }
}

.trainingSection__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 40px 40px 60px 40px;
}

.introBlock {
  max-width: 650px;
}

.introBlock__titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .introBlock__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 479px) {
  .introBlock__title {
    font-size: 30px;
  }
}

.introBlock__icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

@media screen and (max-width: 479px) {
  .introBlock__icon {
    margin-right: 15px;
    margin-left: -15px;
  }
}

.textBlock__title {
  font-size: 23px;
  line-height: 1.55;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.textBlock__text {
  line-height: 1.55;
}

.curve {
  width: 648px;
  margin-left: 2%;
  margin-top: 80px;
}

.curve__border {
  position: relative;
  border-top: 2px solid #f693bc;
  border-bottom: 2px solid #f693bc;
  margin: 0;
}

.curve__border:nth-child(odd) {
  height: 270px;
  border-right: 2px solid #f693bc;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 15%;
  margin-top: -2px;
}

.curve__border:nth-child(even) {
  height: 160px;
  border-left: 2px solid #f693bc;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: 18%;
  margin-top: -2px;
}

.curve__border:last-child {
  border-bottom: 2px solid transparent;
}

.curve__number {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #4dcdc4;
  color: #292f36;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.curve__number_hor {
  top: -30px;
}

.curve__number_hor:last-child {
  top: 100px;
  left: 17px;
}

.curve__number_vert {
  left: 520px;
  top: 20px;
}

.curve__number_bottom {
  top: 150px;
  right: 63px;
  z-index: 2;
}

.curve__icon {
  position: relative;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px #292f36;
          box-shadow: 0px 0px 20px 0px #292f36;
}

.curve__icon_hor {
  left: 43%;
  top: -73px;
}

.curve__icon_vert {
  top: 43%;
  right: 13px;
}

.curve__icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px #292f36;
          box-shadow: 0px 0px 20px 0px #292f36;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.trainingSection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .trainingSection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.colorBlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  gap: 10px;
}

@media screen and (max-width: 1199px) {
  .colorBlock {
    padding: 30px;
    -ms-grid-rows: 30% 70%;
        grid-template-rows: 30% 70%;
  }
}

@media screen and (max-width: 639px) {
  .colorBlock {
    padding: 10px;
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
  }
}

@media screen and (max-width: 479px) {
  .colorBlock {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .colorBlock__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 639px) {
  .colorBlock__title {
    font-size: 30px;
  }
}

.colorBlock__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  line-height: 1.55;
  font-weight: 400;
  padding-bottom: 5px;
}

.colorBlock__left {
  width: 42%;
  background-color: #fee474;
}

@media screen and (max-width: 959px) {
  .colorBlock__left {
    width: 100%;
  }
}

.colorBlock__right {
  width: 55%;
  background-color: #f693bc;
}

@media screen and (max-width: 959px) {
  .colorBlock__right {
    width: 100%;
  }
}

.colorBlock__icon {
  width: 60px;
  height: 60px;
}

.colorBlock__icon_accent {
  background-color: #fee474;
  border-radius: 100%;
}

.container {
  width: 100%;
}

.container__row {
  width: 90%;
  margin: auto;
  max-width: 1160px;
}

.container__content {
  margin: auto;
}

@media screen and (max-width: 479px) {
  .container__content {
    width: 280px;
  }
}

@media screen and (min-width: 479px) {
  .container__content {
    width: 460px;
  }
}

@media screen and (min-width: 639px) {
  .container__content {
    width: 620px;
  }
}

@media screen and (min-width: 959px) {
  .container__content {
    width: 940px;
  }
}

@media screen and (min-width: 1199px) {
  .container__content {
    width: 1160px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #292f36;
}

body h1,
body h2,
body p {
  margin: 0;
}

body h2 {
  font-weight: 600;
  font-size: 45px;
}

body p {
  font-weight: 400;
  font-size: 17px;
}
/*# sourceMappingURL=main.css.map */