@import "fonts";
@import "vars";
@import "mixins";
@import "ui";
@import "typography";
@import "pages/nannys";
@import "pages/faq";
@import "pages/partners";
@import "pages/contacts";


.container {
    width: 100%;
}

.container__row {
    width: 90%;
    margin: auto;
    max-width: 1160px;
}

body {
    font-family: 'Montserrat', sans-serif;
}