@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Breakpoints */
/* Colors */
.container {
  width: 100%;
  background-color: #f2f2f5;
}

.container__row {
  width: 90%;
  margin: auto;
  max-width: 1160px;
}

body {
  font-family: 'Montserrat', sans-serif;
}
#mskSp,#number1,#nabChel,#number2,#Kazan,#number3,#time,#mail{
  color: #292f36;
    font-size: 21px;
    font-weight: 410;
    text-decoration:none;
}
.mainTxt{
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  grid-auto-rows: 40px;
  align-items: center;
  justify-items: center;
  grid-gap:0px 0px;
}
#topText{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  justify-items: center;
  margin:0px 0px 50px;
  color: #292f36;
    font-size: 45px;
    font-weight: 600;
}
#mskSp{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  
  padding:0px;
  justify-self: end;

}
#number1{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: start; 
  padding: 15px;
}
#nabChel{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: end;
}
#number2{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: start; 
  padding: 15px;
}
#Kazan{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
  justify-self: end;
  
}
#number3{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 7;
  grid-row-end: 8;
   justify-self: start; 
  padding: 15px;
}
#time{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:8;
  grid-row-end: 9;
  justify-self: center;
  

}
#mail{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:9;
  grid-row-end: 10;
  margin-top: 50px;
}
#service{
  margin-top: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:11;
  grid-row-end: 12;
  color: #292f36;
    font-size: 15px;
    font-weight: 420;
    text-align: center;
}
.icons{
  margin-top: 35px;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  
}
/*позиционирование вспл. окон*/
.popUP{
  display: grid;
  justify-content: center;
  row-gap: 10px;
}
#p3{
  justify-self: center;
}
#p1,#p2,#p3{
  text-align: center;
  font-size: 15px;
  font-weight: 600px;
  color: #292f36;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h1{
  font-weight: 600;
  font-size: 10px;
  color: #292f36;
  letter-spacing: 2.5px;
  font-family:'Montserrat', sans-serif;
}
.popup h2 {
  font-weight: 600;
  font-size:  26px;
  color: #292f36;
  font-family: 'Montserrat', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
/*брейкпоинты*/
@media screen and (max-width: 480px) {


/*# sourceMappingURL=main.css.map */