.ccontainer {
    font-family: 'Montserrat', sans-serif;
    
  }
  #mskSp,#number1,#nabChel,#number2,#Kazan,#number3,#time,#mail{
    color: #292f36;
      font-size: 21px;
      font-weight: 410;
      text-decoration:none;
  }
  .mainTxt{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
  }
  .city{
      margin-bottom: 30px;
  }
  #topText{
    margin-bottom: 40px;
    color: #292f36;
      font-size: 45px;
      font-weight: 600;
  }

#mail{
    margin-bottom: 30px;
}  
  
  #service{
    
    
    color: #292f36;
      font-size: 15px;
      font-weight: 420;
      text-align: center;
  }
  .icons{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 48px 48px 48px;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 120px;
    
  }
 
  