.faq {
    background-color: $neutralColor;
}

.faq__inner {
    color: $darkColor;
}

.faq__list {
    border-bottom: 1px solid $darkColor;
}

.faq__header {
    font-size: 50px;
    font-weight: 600;

    @media screen and (max-width: $smallMobile) {
        font-size: 40px;
    }
}

.faq__item {
    border-top: 1px solid $darkColor;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0;

    &:hover .faq__close {
        background-color: $darkColor;
    }

    &:hover .faq__cross {
        stroke: $defaultColor;
    }

}

.faq__caption {
    font-size: 22px;
    font-weight: 600;

    width: 85%;
}

.faq__answer {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.55;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1000ms ease;
}

.faq__links {
    color: $defaultColor;

    &:hover {
        cursor: pointer;
    }
}

.faq__close {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: $defaultColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq__cross {
    stroke: $darkColor;
    width: 24px;
    height: 24px;
    transition: transform 300ms ease;
}

.faq__item>input {
    display: none;
}

.faq__check:checked~.faq__answer {
    max-height: 620px;
    margin-bottom: 20px;
}

.faq__check:checked~.faq__question .faq__cross {
    transform: rotate(-45deg);
}

.faq__form {
    padding: 60px 0 90px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.faq__button {
    font-size: 16px;
    font-weight: 600;
    color: $lightColor;
    padding: 20px 60px;
    border: none;
    background-color: $defaultColor;
    transition: background 0.4s ease;

    &:hover {
        background-color: $defaultColor_hover;
        cursor: pointer;
    }
}